<%=partial "partials/banner", locals: data.ergonomics.banner_content%>

<div class="container">
  <h1 class="mb-5">Ergonomic Consulting with 25 Years of Experience!</h1>
  <a href="../images/Brochure_Ergonomics_General-nobleed.pdf" target="_blank"><h3>Click here for your free ergonomics brochure</h3></a>
</div>

<div class="container mb-5">
  <%=partial "partials/portfolio-projects", locals: data.ergonomics%>
</div>