<%=partial "partials/banner", locals: data.services.banner_content%>

<div class="container">
  <div class="row justify-content-center">
    <div class=" mt-4 mb-4 border-bottom">
      <h1>What we offer at</h1>
      <h1 class="brand-name">christiansons</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
      <%=partial "partials/services-offered", locals: data.services%>
  </div>
</div>