<div class="container-fluid">
  <div class="row">
    <%=partial "partials/banner", locals: data.inspirations.banner_content%>
  </div>
</div>

<div class="container-fluid">
  <div class="row inspirations mb-5 mt-5">
    <%inspirations = 
    [{title: "Inspiration 1", image:'src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/harper-collins/HarperCollins-ClientSpace-Haworth.jpg"',
      text: "Stairs are cool. I'm inspired!"},
    {title: "Inspiration 2", image:'src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/harper-collins/HarperCollins-ClientSpace-OpenOffice2-Haworth.jpg"',
      text: "Looks like a fun workstation. I'm inspired!"},
    {title: "Inspriation 3", image:'src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/harper-collins/HarperCollins-ClientSpace-OpenOffice-Haworth.jpg"', 
      text: "Good vibes here. I'm inspired!"}]
    %>
    <%inspirations.each do |inspiration| %>
      <%=partial "partials/inspirations", locals: inspiration%>
      <%end%>
  </div>
</div>