<div class="container-fluid">
  <div class="row">
    <%=partial "partials/banner", locals: data.healthcare.banner_content%>
  </div>
</div>

<%=partial 'partials/markets-content', locals: data.healthcare.health_content%>
