.about-img {
    width: 400px;
    height: 240px;
}

.bg-vid {
    background-color: #6c757d;
} 

@media (max-width: 768px) {
    .about-content img {
        padding-top: 30px;
    }
}

@media (min-width: 768px) {
    .about-img {
        padding-top: 30px;
    }
}