.hero {
  position: relative;
}

.background-image-container {
  position: relative;
  width: 100%;
  background: no-repeat center;
  min-height: 600px;
  background-size: cover;
  padding: 25px 0;
  color: #fff;
}

.about-background-image-container {
  position: relative;
  min-height: 510px;
  background: center no-repeat;
  background-size: contain;
  padding: 25px 0;
  color: #fff;
}

.hero h1 {
  padding-bottom: 10px;
  font-size: 3em;
  position: relative;
  text-transform: uppercase;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: nowrap;
  color: #ED3727;
}

.hero h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.hero h1:after {
  content: '';
  display: block;
  width: 229%;
  height: 3px;
  position: absolute;
  bottom: -7px;
  left: -146%;
  background: linear-gradient(to right, #fff, rgba(255,0,0,0));
  background-size: 97% 13px;
  background-repeat: no-repeat;
}

.hero-content {
  position: relative;
  z-index: 99;
}

.icons-panel {
  background-color: white;
  opacity: 0.9;
  color: black;
  padding: 20px;
}

.icons-div {
  justify-content: center;
}

.hero-icons i.fas, i.fab {
  color: black;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2em;
  }
}

@media (max-width: 992px) {
  .logo {
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
.text-lg-left {
    text-align: left !important;
  }
}

@media (min-width: 992px) {
.col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

