.bg-content {
    /* The image used */
    background-image: url("/images/Contact.jpeg");
  
    /* Full height */
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    justify-content: space-evenly;
  }

  .light-panel {
    background-color: RGBA(248, 249, 250, 0.9);
    justify-content: center;
  }

  .clear-panel {
      color: white;
      text-align: left;
  }
  