
.home-info img {
    width: 100%;
    height: 55%;
  }

#homelink-img {
    width: 100%;
    height: 350px;
    background: cover;
    overflow: hidden;
}

.card-main {
    text-align: left;
}

.brand-name {
    color: #00C1D5; 
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (min-width: 576px) {
    .home-info .col {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

@media (max-width: 576px) {
    .home-image-container {
        padding: 3em 3em 0 3em;
    };
    .home-info img {    
        width: 80%;
        height: 60%;
        padding-top: 10px;
        padding-left: 20%;
    };
    .home-info .col {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .home-image-container {
        padding-top: 1.5em;
    }
}

@media (max-width: 992px) {
    .home-info {
        padding-top: 30px;
    }
}
