
#homeinfo-img {
    width: 250px;
    height: 230px;
  }

.card-main {
    text-align: left;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.vision-statement {
    width: 75%;
}

@media (max-width: 768px) {
    .home-image-container {
        padding-top: 1.5em;
    }
}

@media (max-width: 576px) {
    .home-image-container {
        padding: 3em 3em 0 3em;
    }
}