.market-panel {
  justify-content: center;
  align-items: center;
}

.markets-text {
  text-align: right;
}

.market-header {
  color: #BBBDBC;
}

#market-image {
  width: 400px;
  height: 270px;
  background: cover;
  overflow: hidden;
}

@media (max-width: 768px) {
  .projects-col {
    padding-top: 30px;
  }
}