$theme-colors: (
  "danger": #EF3125
);

@import "bootstrap/scss/bootstrap";
@import "markets.scss";
@import "home.scss";
@import "footer.scss";
@import "about.scss";
@import "portfolio.scss";
@import "inspirations.scss";
@import "contact.scss";
@import "industries.scss";
@import "education.scss";
@import "services.scss";
@import "banner.scss";
@import "custom.scss";

body {
  background-color: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  /*padding: 18vh 1rem;*/
  text-align: center;
  padding-top: 118px;
}

.navbar {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #EF3125;
}

.navbar li a {
  font-weight: 600;
}

.navbar-brand {
  font-weight: 400;
}

#header-socials, #footer-links, #footer-socials {
  color: #00C1D5;
}

i.fas, i.fab {
  color: #00C1D5;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

#services {
  color: black;
}

.section-1 {
  width: 100%;
}


@media (min-width: 1300px) {
  .container {
  max-width: 1300px;
  }
}

@media (min-width: 1100px) {
  .content-img {
    height: 200px;
  }
}