<div class="section-1 mb-5 img-fluid" 
    style="background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(21, 22, 31, 0.55)), url(<%=image%>);">
  <div class="row ml-4">
    <div class="col-md-5 main-text">
        <h1 class="text-left"><%=title%></h1>
        <p class="small-text-bold text-left"><%=text%></p>
    </div>
  </div>
</div>
