<div class="section-1 mb-5 img-fluid" style="background-image: url(<%=image%>);">
  <div class="container-fluid">
    <div class="col-md-5 main-text">
        <h1><%=title%></h1>
        <p class="small-text-bold"><%=text%></p>
    </div>
  </div>
</div>

<%# Is there another way to insert the image so I don't have 8 css banners? %>