<div class="col">
    <div class="card bg-light rounded-0 border-0 h-100">
      <img src=<%=image%> id="homeinfo-img" class="img-fluid card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title pt-4"><%=title%></h5>
        <p class="card-text"><%=text%></p>
      </div>
    </div>
</div>

<%# Ruby if exists for the href? %>