<div class="col-sm-6">
	<div class="card m-3 bg-light border-top-0 border-bottom-0 border-left-0 border-dark rounded-0">
		<div class="row justify-content-center no-gutters">
			<div class="col-md-4">
				<img src=<%=image%> id="homeinfo-img" class="card-img rounded-0" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title pt-3 pb-2"><%=title%></h5>
					<p class="card-text p-3"><%=text%></p>
				</div>
			</div>
		</div>
	</div>
</div>