<div class="info-panel pt-5 pr-5 pl-5 mb-5 markets-div">
  <h2 class="mb-5">DESIGNING COMMERCIAL SPACES FOR THE FOLLOWING INDUSTRIES</h2>
  <p class="mb-5">CBF integrates our passion for interior design and our partnerships with quality 
  office furniture manufacturers to assist in creating functional, comfortable, and 
  attractive workspace environments for businesses in the following industries:</p>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-5 pb-5 justify-content-center">
    <div class="info-col col mt-3 mb-5">
      <img src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/marriott-international/Marriott-ClientSpace-Windowseat-Haworth.jpg" class="img-fluid industries-img" alt="Responsive image">
      <h4 class="pt-4"><a href="/government">Local & State Government</a></h4>
    </div>
    <div class="info-col col mt-3 mb-5">
      <img src="https://www.haworth.com/content/dam/haworth-com/global/inspiration---spaces---projects/customer-spaces/coretrust/Gallery%201.jpg" class="img-fluid industries-img" alt="Responsive image">
      <h4 class="pt-4"><a href="/contract">Contract</a></h4>
    </div>
    <div class="info-col col mt-3 mb-5">
      <img src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/cincinnati-children%27s-hospital/CCH-ClientSpace-Office-Haworth.jpg" class="img-fluid industries-img" alt="Responsive image">
      <h4 class="pt-4"><a href="/healthcare">Healthcare</a></h4>
    </div>
    <div class="info-col col mt-3 mb-5">
      <img src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/convene/Convene-ClientSpace-training-Haworth.jpg" class="img-fluid industries-img" alt="Responsive image">
      <h4 class="pt-4"><a href="/education">Higher Education</a></h4>
    </div>
    <div class="info-col col mt-3 mb-5">
      <img src="https://www.haworth.com/content/dam/haworth-com/global/inspiration---spaces---projects/customer-spaces/capital-one/capital-one-15.jpg" class="img-fluid industries-img" alt="Responsive image">
      <h4 class="pt-4"><a href="/finance">Finance</a></h4>
    </div>
  </div>
</div>

