<div class="col-sm-9 col-lg-10 mb-5">
	<div class="card border-top-0 border-bottom-0 border-left-0 border-dark rounded-0 mb-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <img id="market-image" class="rounded-0" <%=image%> class="card-img img-fluid" alt="...">
        </div>
        <div class="col-lg-6">
          <div class="card-body markets-text pr-1">
            <h5 class="market-header">MARKETS</h5>
            <h3 class="card-title"><%=title%></h3>
            <p class="card-text"><%=text%></p>
            <a href="<%=href%>" class="btn btn-danger">Learn more</a>
          </div>
        </div>
      </div>
    </div>  
	</div>
</div>