<div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <a href="#" target="_blank"><%=image%></a>
        <p class="card-text"><%=text%></p>
      </div>
    </div>
  </div>