<div class="container-fluid">
  <div class="row">
    <%=partial "partials/banner", locals: data.government.banner_content%>
  </div>
</div>

<%=partial 'partials/markets-content', locals: data.government.gov_content%>
