<%=partial "partials/banner", locals: data.portfolio.banner_content%>

<div class="container mb-5">
  <%=partial "partials/portfolio-projects", locals: data.portfolio%>
</div>

<div class="container">
  <div class="info-panel row pt-5 pr-5 pl-5 mb-5">
    <h2 class="mb-4">INTERESTED?</h2>
    <p class="mb-5">If you would like any additional information about these projects or our other products,
    or would like to request a quote, please reach out to us and we'll follow up with you promptly!</p>
    <div class="btn-div">
      <div>
        <button class="btn btn-outline-danger"><i id="phone" class="fas fa-phone-alt pr-2"></i>701-293-3944</button>
      </div>
      <div>
        <button class="btn btn-danger mb-5"><i class="far fa-envelope pr-2"></i>Send an inquiry</button>
      </div>
    </div>
  </div>
</div>