<%=partial "partials/banner", locals: data.products.banner_content%>

<div class="container mb-5">
  <%=partial "partials/portfolio-projects", locals: data.products%>
</div>

<div class="container">
  <div class="bg-vid row mb-5 mr-5 ml-5">
    <div class="col-12 pt-5 pb-5">
      <a href="https://www.myresourcelibrary.com/Christiansons" target="_blank"><img src="https://www.cbfplus.com/images/thumb-online-library-enl2.jpg" class="img-fluid" alt="Responsive image"></a>
    </div>
  </div>
</div>