<div class="container-fluid">
  <div class="row">
    <%banner_content = {
      title: "Products",
      text: "We're proud of what we offer. Below you can find examples of our top products along with a link to our full product library.",
      image: 'https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/hitt-contracting-co-lab/CoLab_Hitt_14.jpg'
    }%>
    <%=partial "partials/banner", locals: banner_content%>
  </div>
</div>

<% products = 
[{name: "Product one", image:'https://www.cbfplus.com/images/thumb-idea-starter02.jpg'},
{name: "Product two", image:'https://www.cbfplus.com/images/pict009-ergonomic-help-sm.jpg'},
{name: "Product three", image:'https://www.cbfplus.com/images/thumb-online-library02.jpg'},
{name: "Product four", image:'https://www.cbfplus.com/images/thumb-accent-pieces2.jpg'}]
%>

<div class="container info-panel mt-5 mb-5 pt-4">
  <h1 class="mb-5">Products</h1>
  <% 3.times do %>
  <div class="row">
    <% products.each do |product| %>
    <div class="col-sm mb-5">
      <img src="<%= product[:image] %>" >
      <h2><%= product[:name] %></h2>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<div class="bg-vid row mb-5 mr-5 ml-5">
  <div class="col-12 pt-5 pb-5">
    <a href="https://www.myresourcelibrary.com/Christiansons" target="_blank"><img src="https://www.cbfplus.com/images/thumb-online-library-enl2.jpg" class="img-fluid" alt="Responsive image"></a>
  </div>
</div>