<div class="container-fluid footer pt-5 pb-5">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col">
      <div class="contact-info">
        <p><a href="https://www.google.com/maps/place/Christianson's+Business+Furniture/@46.8610423,-96.8347693,15z/data=!3m1!4b1!4m5!3m4!1s0x52c8cb85f33b3609:0x999e70bae3703171!8m2!3d46.861028!4d-96.826036" target="_blank"><i id="footer-links" class="fas fa-map-marker-alt"></i></a>2828 13th Avenue South. Fargo, ND 58103</p>
        <p><a href="#" target="_blank"><i id="footer-links" class="fas fa-envelope"></i></a>sales@cbfplus.com</p>
        <p><a href="#" target="_blank"><i id="footer-links" class="fas fa-phone-alt"></i></a>701-293-3944</p>
      </div>
    </div>
    <div class="col socials">
      <p>Follow Us: 
        <a href="https://www.facebook.com/cbfplus" target="_blank"><i id="footer-socials" class="fab fa-facebook-f pl-2 pr-3"></i></a>
        <a href="#" target="_blank"><i id="footer-socials" class="fab fa-instagram pr-3"></i></a>
        <a href="https://twitter.com/cbfplus?lang=en" target="_blank"><i id="footer-socials" class="fab fa-twitter pr-3"></i></a>
        <a href="https://www.linkedin.com/company/christianson's-business-furniture/" target="_blank"><i id="footer-socials" class="fab fa-linkedin"></i></a></p>
      <p class="copyright">© 2021 Christiansons. All rights reserved.</p>
    </div>
    <div class="col">
      <div class="float-md-right">
        <a href="http://www.haworth.com" target="_blank"><img src="https://www.cbfplus.com/images/25th%20jpeg-sm.jpg" alt=""></a>
      </div>
    </div>
  </div>
</div>
