<%=partial "partials/banner-about", locals: data.about.banner_content%>

<%=partial "partials/about-info", locals: data.about.info_content%>

<div class="container pt-5">
  <div class="row video-container mt-5 mb-5 bg-vid">
    <div class="col-12 pt-5 pb-5">
      <img src="https://www.cbfplus.com/images/video01.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>

<%=partial "partials/industries"%>