<div class="container-fluid mt-0">
  <div class="row">
    <%banner_content = {
      title: "Awesome Workspaces<br>
            Unrivaled Service<br>
            Lifelong Partnerships",
      text: "We partner with companies to design and install productive, comfortable, and attractive commercial office furniture for their employees and customers, regardless of budget or location.",
      image: 'https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/clemson-university/Clemson-ClientSpace-Lounge-Very-Haworth.jpg'
    }%>
    <%=partial "partials/banner", locals: banner_content%>
  </div>
</div>

<div class="row justify-content-center ">
  <div class="card vision-statement mb-5 rounded-0">
    <div class="card-header">
      <h3>Vision Statement</h3>
    </div>
    <div class="card-body">
      <h5 class="card-text" style="font-style: italic">"To be recognized as the leading office dealer in our community, providing superior quality, value and customer service."</h5>
    </div>
  </div>
</div>

<div class="row mb-5">
  <%card_content = [
    {title: "Christiansons Business Furniture", 
     text: "Providing Efficient and Ergonomic Work Environments with a Commitment to Quality, Value and Customer Service",
     image: 'src="https://www.cbfplus.com/images/25th jpeg-sm.jpg"'},
    {title: "Returning to Work(places)", 
     text: "What will work look like post-pandemic? There are many new unknowns, and we can help you navigate the changes necessary.",
     image: 'src="https://www.haworth.com/content/dam/digital/north-american-assets/knowledge-and-research/customer-stories/smart---biggar/SmartandBiggar-13.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg"'}
  ]%>
  <%card_content.each do |card| %>
    <%=partial "partials/cbf25", locals: card%>
    <%end%>
</div>

<div class="row row-cols-1 row-cols-md-2 mb-5">
  <%card_content = [
    {title: "Portfolio", 
     text: "CBF has been serving Fargo-Moorhead and the surrounding region for over 25 years. Click below to view our portfolio.",
     image: 'src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/convene/Convene-ClientSpace-Lounge-Archibald-Haworth.jpg"',
     href: '/portfolio'},
    {title: "Services", 
     text: "There's more than meets the eye when it comes to furniture. Click to get an idea of our process here at CBF.",
     image: 'src="https://www.haworth.com/content/dam/haworth-com/global/products/desks-workspaces/premise/hero-carousel/premise-0908-009_edit.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg"',
     href: '/services'}
  ]%>
  <%card_content.each do |card|%>
    <%=partial "partials/homelinkcards", locals: card%>
    <%end%>
</div>

<div class="container mb-5 border-bottom">
  <div class="row mb-5">
    <div class="col-md-4">
      <img src="https://www.cbfplus.com/images/BIC_2018_wide_Color_000.jpg" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="https://www.cbfplus.com/images/BIC_2018_wide_Color_000.jpg" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="https://www.cbfplus.com/images/BIC_2018_wide_Color_000.jpg" class="img-fluid">
    </div>
  </div>
</div>

<%=partial "partials/industries"%>


