<div class="container-fluid">
  <div class="row">
    <%=partial "partials/banner", locals: data.markets.banner_content%>
  </div>
</div>

<%=partial "partials/industries"%>

<%card_content = [
      {title: "LOCAL & STATE GOVERNMENT", 
      text: "Text about this particular market will go here!",
      image: 'src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/marriott-international/Marriott-ClientSpace-Windowseat-Haworth.jpg"',
      href: '/government'},
      {title: "CONTRACT", 
      text: "Text about this particular market will go here!",
      image: 'src="https://www.haworth.com/content/dam/haworth-com/global/inspiration---spaces---projects/customer-spaces/coretrust/Gallery%201.jpg"',
      href: '/contract'},
      {title: "HEALTHCARE", 
      text: "Text about this particular market will go here!",
      image: 'src="https://www.haworth.com/content/dam/haworth-com/global/brands/haworth-health/gallery-3.jpg"',
      href: '/healthcare'},
      {title: "HIGHER EDUCATION", 
      text: "Text about this particular market will go here!",
      image: 'src="https://www.haworth.com/content/dam/haworth-com/global/product-categories/projects/temp-spaces/convene/Convene-ClientSpace-training-Haworth.jpg"',
      href: '/education'},
      {title: "FINANCE", 
      text: "Text about this particular market will go here!",
      image: 'src="https://www.haworth.com/content/dam/haworth-com/global/inspiration---spaces---projects/customer-spaces/capital-one/capital-one-15.jpg"',
      href: '/finance'}
    ]%>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-1 market-panel mb-5">
    <%card_content.each do |card| %>
      <%=partial "partials/markets", locals: card%>
      <%end%>
  </div>
</div>